/*********************************************** адаптация  ****************************/


				.fullscreen_iframe  
				{
					position:relative;					
					max-width:100%;
					padding-bottom: 53.5%; /* 49% | при настройках fade flip cube - 156% и нужно закоментить @media */
				}
				
					.fullscreen_iframe iframe 
					{						
						position:absolute;
						top:0;
						left:0;
						max-width:100%;														
						width:100%;						
						max-height:100%;
						height: 100%;
						object-fit: cover;
						object-position: center;
					}




/*********************************************** адаптация  ****************************/

/*

			@media (max-width:1880px) 
						{
							.fullscreen_iframe 
							{
								padding-bottom: 49%;
							}				
						}
						
			@media (max-width:1064px) 
						{
							.fullscreen_iframe 
							{
								padding-bottom: 72.5%;
							}				
						}
						
			@media (max-width:811px) 
						{
							.fullscreen_iframe 
							{
								padding-bottom: 96%;
							}				
						}
			@media (max-width:520px) 
						{
							.fullscreen_iframe 
							{
								padding-bottom: 143%;
							}				
						}
						

*/

/*********************************************** адаптация  ****************************/


/*********************************************** адаптация 2 ****************************/

			@media (max-width:2094px) 
						{
							.fullscreen_iframe 
							{
								padding-bottom: 79.5%;
							}				
						}

			@media (max-width:1582px) 
						{
							.fullscreen_iframe 
							{
								padding-bottom: 105%;
							}				
						}
						
			@media (max-width:1006px) 
						{
							.fullscreen_iframe 
							{
								padding-bottom: 156.5%;
							}				
						}


/*********************************************** адаптация 2 ****************************/

.block__column_fullscreen_iframe {
	width:100%;
}

.block__item_fullscreen_iframe {
	padding: 0px;
}

.wrapper__fullscreen_iframe {
	padding: 0px;
}

.screen_width {
	width: 50%; /* width: 50%;  для эффектов в js*/
	height: 100%;
}
/*********************************************** Стили для swiper **************************************************************/


.wrapper__swiper {

}

.image-slider {
    /* для МУЛЬТИРЯДНОСТИ выставляем высоту !!!  height: 700px;*/
    /*
    height: 700px;
	*/
	min-height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(8px) saturate(100%) contrast(100%); /* размытие фона + насыщенность + контрастность*/
	padding: 1% 0px;
}

.image-slider__wrapper {
	
}

.image-slider__slider {

}

.image-slider__image {
	text-align: center;
	padding: 10% 0%;
}

.image-slider__image img {
	max-width: 100%;

	max-height: 100%;	
	
	object-fit: cover;
	object-position: center;
	
}

.image-slider__image__img {
	/*
	opacity: 1; /* прозрачность фона или картинки от 0.0 до 1.0
	padding: 0% 0% 2%;
	margin: 0% 0% 2%;
	 */
}

/* стрелки */
.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
	color: #bfd0d0;
	font-size: 80px;
}

/*Пагинция*/
.swiper-pagination {
	
	padding: 2% 0% 0%; /* Первое значение задает поле от верхнего края, второе — одновременно от левого и правого края, а третье — от нижнего края. */
	
}

.image-slider .swiper-pagination {
	bottom: 0;
}

/* буллеты */
.image-slider .swiper-pagination-bullet {
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	background-color: #bfd0d0;
}

/* Фракция */
.image-slider .swiper-pagination-fraction {
	font-size: 20px;
	color: #fff;
}

/* Прогрессбар */
.image-slider .swiper-pagination-progressbar-fill {
	background-color: #bfd0d0;
	padding: 5px;
}

/* Скроллбар */
.image-slider .swiper-scrollbar-drag {
	cursor: pointer;
	background-color: #bfd0d0;
	padding: 5px;
}

/* автоширина слайдера для slidesPerView autoHeight */
.image-slider .swiper-slide {
	width: auto;
}

/* Мультирядность ОБЯЗАТЕЛЬНО !!! нужно убрать  автоширина слайдера для slidesPerView autoHeight  ЗАКОМЕНТИРОВАТЬ width: auto; ТАК ЖЕ В .image-slider для МУЛЬТИРЯДНОСТИ выставляем высоту !!!  height: 700px; */
/*
.image-slider .swiper-slide {
	height: calc((100% - 30px) / 2);
	overflow: hidden;
}
*/


/*********************************************** Стили для swiper **************************************************************/

.swiper-slide {
      text-align: center;
      font-size: 18px;
	  /*
      background: #fff;
	  */

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }